

.box {
    background-color: yellowgreen;
    width: 800px;
    border: 5px solid green;
    padding: 25px;
    margin: 10px;
    animation-name: ease-in;
    animation-duration: 10s;
    }


p {
    color: blue;
    background-color: rgb(232, 250, 154);
    margin: 40px 100px 40px 50px;
    Font-size: 16px;
    border: 2px solid yellowgreen;

}

h1 {

    color: green;
    background-color: rgb(232, 250, 154);
    margin: 40px 100px 40px 50px;
    border: 5px solid yellowgreen;

}
#container1{
    font-size: 24px;

}

h3{

    color: rgb(72, 58, 124);
    background-color: lightgrey;
    margin: 40px 100px 40px 50px;
    border: 2px solid yellowgreen;

}
.box2 {
    background-color: rgb(187, 117, 160);
    width: 800px;
    border: 5px solid rgb(128, 0, 60);
    padding: 25px;
    margin: 10px;
    }
a.pseudo:hover{
    color:aqua
    margin: 40px 100px 40px 50px;
}

img {
    border-radius: 8px;
  }
    
div.animation{
    animation-timing-function: ease-in ;
    animation-duration: 4s;
}

div.absolute{
    position:absolute;
    top: 2700px;
  right: 250px;
  bottom: 100px;
  width: 800px;
  height: 100px;
}
    

div.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;  
}

a:hover{
    color:aquamarine
}
/*


a:link{
    color:red;
}
a:visited{
    color:green;
}
a:hover{
    color: blueviolet;
}
a:active{
    color: maroon;
}

div:hover{
    color: green;
}

div.pseudoclass:hover{
    color: red;
}
div {
    background: red;
}
  
    span {
        background: greenyellow;
        height: 50px;
        width: 300px; 
        display:block;
 }

/*
p {
    color: rgba(238,14,14,0)

}
body {
background: lightblue;

}